<footer class="bg-gray-100 border-t border-gray-200">
    <div class="max-w-4xl mx-auto px-5 py-12 flex flex-wrap flex-row justify-between items-start space-y-12 md:space-y-0">
        <div class="w-full md:w-1/3">
            <a class="flex flex-row space-x-4 items-center" href="/">
                <img alt="Work Hays Logo" class="w-8 h-8 rounded-full" src="/images/work-hays-logo.svg" />
                <p>Work Hays</p>
            </a>
        </div>
        <div class="w-full md:w-1/3">
            <ul class="space-y-4 md:space-y-1 text-gray-800">
                <li>
                    <a href="/">Jobs</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li>
                    <a href="/admin/#/sign-in">Employer Sign In</a>
                </li>
                <li>
                    <a href="/admin/#/register">Employer Registration</a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/3">
            <ul class="space-y-4 md:space-y-1 text-gray-800">
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/terms">Terms of Service</a>
                </li>
                <li>
                    <a href="/faq">FAQ's</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
