<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include "./lib/head.liquid" %}
    </head>

    <body>
        {% include "./lib/navbar.liquid" %}
        <main class="max-w-4xl mx-auto px-5 py-14 relative z-10">
            {% block content %}{% endblock %}
        </main>
        {% include "./lib/footer.liquid" %}
        <!-- Alpine JS File -->
        <script src="/alpine.js?v={{ "now" | date: "%S%M" }}"></script>
    </body>
</html>
