<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include head %}
    </head>

    <body>
        {% include navbar %}
        <main class="max-w-4xl mx-auto px-5 pb-14 relative z-10">
            {{ content }}
        </main>
        {% include footer %}
        <!-- Alpine JS File -->
        <script src="/alpine.js?v={% version %}"></script>
    </body>
</html>
