---
title: 'Page Not Found | Work Hays'
permalink: '/404.html'
---

{% layout './lib/layout' %}
{% block content %}
    <section>
        <h1 class="text-3xl font-bold text-indigo-600 mb-3">
            Page Not Found
        </h1>
        <p class="prose prose-lg prose-blue">
            Uh Oh. Looks like this page cannot be found. If you are
        needing assistance, please
            <a href="/contact">contact us</a>
            and let us know.
        </p>
    </section>
{% endblock %}
