---
title: 'Events | Work Hays'
---

{% layout './lib/layout' %}
{% block content %}
    <section>
        <h1 class="text-3xl font-bold text-indigo-600 mb-3">Events</h1>
        <p class="prose prose-lg">
            View upcoming events, job fairs, classes, and more.
        </p>
    </section>
{% endblock %}
