---
title: 'Events | Work Hays'
---

<section>
    <h1 class="text-3xl font-bold text-blue-500">Events</h1>
    <p class="prose prose-lg">
        View upcoming events, job fairs, classes, and more.
    </p>
</section>
