---
title: 'Current Job Openings | Work Hays'
---

<section>
    <h1 class="text-3xl font-bold text-blue-500">
        Current Job Openings
    </h1>
    <p class="prose prose-lg">
        Browse current job openings in Hays, KS and surrounding
        communities.
    </p>
</section>

<div class="h-[2000px]"></div>
