---
title: 'Current Job Openings | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-indigo-600 mb-3">
        Current Job Openings
    </h1>
    <p class="prose prose-lg">
        Browse current job openings in Hays, KS and surrounding
        communities.
    </p>
</section>

<div class="h-[2000px]"></div>
{% endblock %}
