---
title: 'Registration | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-indigo-600 mb-3">
        Employer Registration
    </h1>
    <p class="prose prose-lg">
        Please fill out the following form and submit to request
        account access. Once submitted, we will review your
        information and get your new account verified. If you have
        questions, please <a href="/contact">contact us</a>.
    </p>
</section>
{% endblock %}
