---
title: 'Sign In | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-blue-500 text-center mb-2">
        Sign In
    </h1>
    <p class="prose prose-sm text-center mx-auto">
        Don't have an account? <a href="/register">Click here</a> to
        register for free.
    </p>
</section>
{% endblock %}
