---
title: 'Sign In | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-indigo-600 mb-3">Sign In</h1>
    <p class="prose prose-lg">
        Don't have an account? <a href="/register">Click here</a> to
        register and post your jobs for free.
    </p>
</section>
{% endblock %}
