---
title: 'Success | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-indigo-600 mb-3">Success!</h1>
    <p class="prose prose-lg">
        Your form has been submitted successfully. We have been
        notified and will reply as soon as we can. Thank you for using
        Work Hays.
    </p>
</section>
{% endblock %}
