---
title: 'Success | Work Hays'
---

{% layout './lib/layout' %} {% block content %}
<section>
    <h1 class="text-3xl font-bold text-blue-500 text-center mb-2">
        Success!
    </h1>
    <p class="prose prose-md text-center mx-auto">
        Your form has been submitted successfully. We have been
        notified and will reply as soon as we can. Thank you for using
        Work Hays.
    </p>
</section>
{% endblock %}
