---
title: 'Terms of Service | Work Hays'
---

{% layout './lib/layout' %}
{% block content %}
    <section>
        <h1 class="text-3xl font-bold text-indigo-600">
            Terms of Service
        </h1>
    </section>
{% endblock %}
